body {
    background-color: transparent;
    margin: 0px auto;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
    font-size: 13px;
    color: #AFAFAF;
}

.blink-group{
    display: inline-flex;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}