.container{
    min-width: 640px;
    width: 50%;
    margin: 0px auto;
}

.bodyCamPreviewer{
    height: 360px;
    width: 640px;
    background-color: rgba(17, 24, 39, 1);
    border: 2px solid rgba(107, 114, 128, 1);
    border-radius: 6px;
}

