body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue',
    'Helvetica', 'Arial', sans-serif;
  background-color: #111827;
}
